@using AbpMicroservice.Shared.Localization.Localization;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<AbpMicroserviceResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
